@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: #f1356d;
  --dark-color: #333;
  scroll-behavior: smooth;
}
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--dark-color);
  box-sizing: border-box;
  outline: 1 solid var(--dark-color);
  text-decoration: none !important;
}

.up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border: none;
  border-radius: 8px;
  background: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 30px;
  width: 20px;
}
.up-btn .img {
  height: 100%;
  width: 100%;
  text-align: center;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.up-btn img {
  rotate: -90deg;
  color: white;
}

.navbar, .home {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: var(--main-color);
}
.navbar .links {
  margin-left: auto;
}

.navbar a:not(:first-child) {
  margin-left: 16px;
  padding: 6px;
}
.navbar a:hover {
  color: var(--main-color);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}
/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 100px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-author {
  text-align: end;
  text-decoration: underline;
  color: grey;
}
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
button {
  background: var(--main-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  min-width: 80px;
}
button:disabled {
  background: var(--main-color);
  color: #f3F3F3;
}
.waves {
  max-width: 600px;
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding: 20px;
}
.wave {
  width: 5px;
  height: 30px;
  background: linear-gradient(45deg, var(--main-color), var(--dark-color));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}